.sidebar {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 500ms;
  z-index: 100;

  &.left {
    left: -100%;
  }

  &.left.active {
    left: 0;
    transition: 400ms;
  }

  &.right.active {
    right: 0;
    transition: 400ms;
  }

  &.right {
    right: -100%;
    flex-direction: row-reverse;

    .content {
      background-color: #f2f2ef;
      width: 550px;
    }
  }

  .content {
    background-color: #f2f2ef;
    width: 474px;
  }

  .close {
    flex: 1;
    background: #cdd1ce;
    opacity: 0.7;
    backdrop-filter: blur(4px);
  }
}

@media only screen and (max-width: 991px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 500ms;
    z-index: 100;

    &.left {
      left: -100%;
    }

    &.left.active {
      left: 0;
      transition: 400ms;
    }

    &.right.active {
      right: 0;
      transition: 400ms;
    }

    &.right {
      right: -100%;
      flex-direction: row-reverse;

      .content {
        background-color: #f2f2ef;
        width: 550px;
      }
    }

    .content {
      background-color: #f2f2ef;
      width: 474px;
    }

    .close {
      flex: 1;
      background: #cdd1ce;
      opacity: 0.7;
      backdrop-filter: blur(4px);
    }
  }
}
